.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
}

.difficulty {
  font-size: 1.5rem;
  background-color: rgb(216, 216, 216);
  border: 2px black solid;
  border-radius: 12px;

  text-align: center;
  display: grid;
  min-width: 50px;
  padding-inline: 8px;
  place-content: center;
  height: 50px;
}

.effect {
  color: lightslategray;
  font-size: 0.875rem;
}

.name {
  font-weight: 700;
}
