.description {
  color: #718096;
  font-size: 0.875rem;
}

.title {
  font-weight: 700;
  line-height: 1.4;
}

.subtitle {
  font-weight: 500;
  font-size: 0.625rem;
  color: #918fa3;
  text-transform: uppercase;
}
