.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.name {
  font-weight: 700;
}

.liftCurseButton {
  background-color: #1baf57;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  width: 100%;
  margin-top: 12px;
  cursor: pointer;
  font-weight: 700;
}

.cursesWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vetoCurseButton {
  background-color: #ec4c4c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  width: 100%;
  margin-top: 12px;
  cursor: pointer;
  font-weight: 700;
  display: grid;
  place-content: center;
}

.liftCurseButton:hover {
  background-color: rgb(136, 167, 123);
}

.vetoText {
  color: #eb3838;
  font-weight: 500;
  font-size: 0.75rem;
  margin-block-start: 12px;
}

.team {
  color: #1860e9;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 700;
}
