.rounds {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.rounds li {
  color: darkblue;
}

.active {
  font-weight: 700;
}

.button {
  padding: 8px;
}

.pageWrapper {
  max-width: 800px;
  margin: auto;
  padding: 32px 12px 76px;
}
