@keyframes spin {
  from {
    transform: rotate(-360deg);
  }
}

.wrapper {
  display: block;
  width: min-content;
  height: min-content;
  animation: spin 1000ms linear infinite;
}

.wrapper svg {
  display: block;
  max-width: revert;
}
