.button {
  min-height: 40px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: hsl(240, 4%, 95%);
  color: black;
  cursor: pointer;
  width: 100%;
}

.button:not(:disabled):hover {
  background-color: #ededee;
}

.button:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.2);
}
