.textWrapper {
  background-color: white;
  padding: 16px;
  text-align: center;
  flex: 1 0 230px;
  display: grid;
  place-content: center;
}

.buttonsWrapper {
  padding: 16px;
  flex: 1 0 230px;
  align-items: center;
}

.buttonsWrapper form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.buttonsWrapper form select {
  padding: 8px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 16px;
}

.diceButtons {
  display: flex;
  margin-bottom: 8px;
}

.diceWrapper {
  font-size: 3rem;
}

.buttonsWrapper {
  color: black;
}
