.textWrapper {
  background-color: white;
  padding: 16px;
  text-align: center;
  flex: 1 0 230px;
  display: grid;
  place-content: center;
}

.buttonsWrapper {
  padding: 16px;
  flex: 1 0 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 16px;
}

.diceButtons {
  display: flex;
}

.diceWrapper {
  font-size: 3rem;
}
