.teamHeader {
  display: flex;
  justify-content: space-between;
}

.teamsWrapper {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.teamWrapper {
  flex: 1 0 200px;
  border: 1px solid #ececec;
  border-radius: 12px;
  padding: 12px 16px;
}
