.wrapper {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
}

.wrapper button {
  background-color: #383744;
  color: #fff;
  border: none;
  min-height: 24px;
  min-width: 42px;
  border-radius: 4px;
  cursor: pointer;
}

.wrapper button:hover {
  background-color: #4a4956;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.title {
  font-weight: bold;
}

.details {
  padding-block-start: 4px;
  color: #918fa3;
  font-size: 0.875rem;
  line-height: 1.3;
}

.answer {
  color: #1baf57;
  font-weight: bold;
  padding-block-start: 20px;
}

.timeToAnswer {
  color: #fb6a35;
  font-weight: bold;
  padding-block-start: 20px;
}

.buttons {
  display: flex;
  gap: 6px;
}

.wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wrapper form input {
  padding: 12px;
}

.buttons button {
  flex: 1 1 0;
}

.buttons button:first-child {
  background-color: #1baf57;
}

.buttons button:last-child {
  background-color: #fb6a35;
}
