.form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form label {
  display: flex;
  gap: 4px;
  font-weight: 500;
  flex-direction: column;
}
.form input {
  height: 2.5rem;
}

.form input,
.form textarea {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 4px;
  padding: 8px;
  font-family: inherit;
}

.form fieldset,
.form fieldset ul {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-block-start: 4px;
}
