.nav {
  background-color: #0f202e;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 6px;
  display: flex;
  justify-content: space-evenly;
}

.navItem {
  text-align: center;
  color: #b1bad3;
  padding: 6px 16px;
  position: relative;
  min-width: max-content;
}

.navItem:hover,
.activeNavItem {
  background-color: #1b3042;
  border-radius: 10px;
}

.navItem p {
  font-size: 0.625rem;
  font-weight: 700;
}

.badge {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 100px;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 5px;
  display: grid;
  place-content: center;
  color: #fff;
}
